
footer{
    background-color: #1d3357;
    color: white;

}

#clear-output{
    margin-top: 8px;
    margin-bottom: 60px;
}
#navbar{
    background-color: #1d3357;
    
}
#search{
    color: black;
}
